<aside class="sidebar">
	<div class="sidebar__header">
		<img src="assets/images/sidebar__header.png" alt="">
	</div>
	<div class="sidebar__content">
		<div class="profile">
			<img class="profile__avatar" src="https://placehold.it/100" alt="">
			<div class="profile__name">Покусаев Даниил</div>
			<div class="profile__prof">мастер JS и верстки</div>

			<ul class="social">
				<li class="social__item">
					<a href="#" class="social__link">
						<img src="assets/images/social__inst.svg" alt="Instagram">
					</a>
				</li>
				<li class="social__item">
					<a href="#" class="social__link">
						<img src="assets/images/social__vk.svg" alt="VK">
					</a>
				</li>
				<li class="social__item">
					<a href="#" class="social__link">
						<img src="assets/images/social__pint.svg" alt="Pinterest">
					</a>
				</li>
			</ul>

			<div class="profile__text">
				<p>
					Front-end разработчик. Теоретик верстки сайтов. Созданием сайтов занимаюсь с 2020 года. Работал в одной ИТ компании и наработал более 10 часов в создании сайтов не самой различной сложности.
				</p>
			</div>

		</div> <!--/.profile-->
	</div> <!--/.sidebar__content-->

	<div class="sidebar__footer">
		<a class="btn btn--red" href="#">Мои работы</a>
		<button class="btn btn--blue" type="button">Написать мне</button>
	</div>
</aside>